.env
**/.gradle/
**/build/
**/bin/
**/node_modules/
**/dist/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.git.nested-backup/
uploads/
.env.intellij
.env.example
*-firebase-adminsdk-*.json
.idea/workspace.xml
.idea/libraries/Dart_SDK.xml
